<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoltShare</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <img src="/img/logo.svg" alt="boltShare logo" class="logo" />

    <section class="download">
      <img
        class="download__icon"
        src="/img/download-sd.svg"
        alt="boltshare-download"
      />
    </section>
  </body>
</html>
